<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>My Spotify Best Playlists</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      .container-fluid {
        max-width: 1050px;
        padding: 15px;
      }
      .panel-group {
        margin-bottom: 0px !important;
      }
      .table {
        margin-bottom: 0px !important;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2 class='text-info'>Best Electronic Albums 2016</h2>
                <h5 class='text-info'>*my version</h5>
                <hr>
                {% for k,v in rdic16.items() %}
                <table class="table">
                    <thead>
                        <tr>
                            <td width="15%"><a href={{urls16[k]}} title="Spotify Link"><img src={{imurl16[k]}} class="img-thumbnail" alt="Spotify Link"></a></td>
                            <td width="85%" class="text-left">
                                <div class="panel-group">
                                  <div class="panel panel-info">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse{{nsp16[k]}}" title="collapsible playlist"><b>{{k}}</b></a><br><i>{{artist_dic_sw16[k]}}</i>
                                      </h4>
                                    </div>
                                    <div id="collapse{{nsp16[k]}}" class="panel-collapse collapse">
                                      <ul class="list-group">
                                          {% for key,value in v.items() %}
                                          <li class="list-group-item">{{key}}&nbsp-&nbsp{{value}}</li>
                                          {% endfor %}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
                {% endfor %}
            </div>
            <div class="col-md-6">
                <h2 class='text-success'>Best Electronic Albums 2017</h2>
                <h5 class='text-success'>*my version (<i>updating in progress</i>)</h5>
                <hr>
                {% for k,v in rdic17.items() %}
                  <table class="table">
                    <thead>
                        <tr>
                            <td width="15%"><a href={{urls17[k]}} title="Spotify Link"><img src={{imurl17[k]}} class="img-thumbnail" alt="Spotify Link"></a></td>
                            <td width="85%" class="text-left">
                                <div class="panel-group">
                                  <div class="panel panel-success">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                        <a data-toggle="collapse" href="#collapse{{nsp17[k]}}" title="collapsible playlist"><b>{{k}}</b></a><br><i>{{artist_dic_sw17[k]}}</i>
                                      </h4>
                                    </div>
                                    <div id="collapse{{nsp17[k]}}" class="panel-collapse collapse">
                                      <ul class="list-group">
                                          {% for key,value in v.items() %}
                                          <li class="list-group-item">{{key}}&nbsp-&nbsp{{value}}</li>
                                          {% endfor %}
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                            </td>
                        </tr>
                    </thead>
                </table>
                {% endfor %}
            </div>
         </div>
        {% for error in errors %}
        <h4>{{ error }}</h4>
        {% endfor %}
    </div>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>